.copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: black;
    line-height: 3;
    text-align: center;
      }

      h1{

color: yellowgreen;

font-family: Arial, Helvetica, sans-serif;
      }
      .text{

color: aqua;


      }
      .img{
border-radius:20px;

      }
      div{

            float: none;
            padding: 10px;
             
            border-radius: 20px; 
            color: black;
            box-shadow:5px 5px 5px grey;
      }

      .heading{

            width: 100%;
            background:blue;
      }
      .heading_2{

background-color: white;
width: 50%;
      }